<script type="text/html" id="liveSearchTmpl"><%search.forEach(function(s){print(`<a>${s}</a>`);});%></script>

<script type="text/html" id="btnOkCancelTmpl">
<div class="pull-right">
  <input type="submit" class="btn btn-primary">
  <button class="btn btn-primary" onclick="history.back();return false;"><%=L._CANCEL_%></button>
</div>
</script>

<script type="text/html" id="CrossTmpl">
<%crosses.forEach(function(cross){%>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><%print(app.A_Cross({crossId:cross[0], cross:cross[1]}));%></div>
      <div class="panel-body"><%cross[2].forEach(function(vertical){print(app.A_Vertical({verticalId:vertical[0], vertical:vertical[1]}, "inblock"));});%></div>
    </div>
  </div>
<%});%>
</script>

<script type="text/html" id="VerticalTmpl">
  <div class="panel panel-default">
    <div class="panel-heading"><%=header%><%=L._BTNBACK_%>
      <%if (!news) {%>
        <div class="checkbox inmenu right">
          <label><input id="wrapMode" type="checkbox"><%=L._WRAP_%></label>
          <%if ($userId) print(app.str_editMode());
            if ($Admin && vId) print('<a href="%sbackupvertical/%s">Backup Vertical</a>'.format(web2spa.root_path, vId));
          %>
        </div>
      <%}%>
    </div>
    <table class="vertical table table-bordered"><tbody>
    <%var href1 = web2spa.start_path + 'editplint/',
          href2 = web2spa.start_path + ((news||!$userId)?'chain/':'/ctrl//'),
          href3 = web2spa.start_path + 'editvertical/',
          s_mode = Boolean(search);
      for(var ci in plints) {
          var plint=plints[ci], _pattr='', _style=0,
              _href2=href2+plint.id+'/', pairs=plint.pairs, start1=parseInt(plint.start1), when=plint.mon, who=users[plint.mby];
          if (plint.cable&&!news) { _pattr=cables[plint.cable]; if (!s_mode) _style=_pattr[2]; _pattr = _pattr[0]; }
          _pattr='class="web2spa" title="%s\n%s\n%s\n%s\n%s"'.format(plint.title, plint.comdata, when, who, _pattr);
    %>
          <tr style="background:<%=app.CABLE_CLRS[_style]%>">
          <%if (search || news) { print(app.pairRow(plint, 2, true)); }%>
          <td class="colv1" style="border-right:2px solid #ddd;">
            <a href="<%=href1+plint.id%>" <%=_pattr%>><%=plint.title%></a></td>
            <%for(var cj in pairs) {
                var pair = pairs[+cj];
                var t = pair[0], found = "", _title = "", pidx;
                if (news) {
                    pidx = pair[1];
                    t = '%s, %s, %s %s, "%s"'.format(when, who, L._PAIR_, pair[1]+start1, t);
                }
                else {
                        pidx = cj;
                        if (t) {
                            if (pair[3]) t += "\n" + pair[3];
                            if (s_mode && t.toLowerCase().indexOf(search) >= 0) found = "found";
                            _title = t+"\n"+pair[1]+"\n"+users[pair[2]];
                        }
                    }
            %>
          <td class="<%=found%>">
          <a class="web2spa" href="<%=_href2+pidx%>" title="<%=_title%>" data-pair="1"><sup><%=+cj+start1%></sup><%=t%></a></td>
          <% }
          if (!news) {
            t = plint.comdata||'&nbsp;', found = 'commondata';
            if (search) {
                if (t && t.toLowerCase().indexOf(search)>=0) found += ' cdfound';
                vId = plint.verticalId;
            }%>
            <td class="<%=found%>" style="border-left:2px solid #ddd;">
            <a href="<%=href3+vId%>/<%=plint.id%>" class="web2spa" <%=_pattr%>><%=t%></a></td>
          <% }; %>
        </tr>
      <%};%>
    </tbody></table>
  </div>
</script>

<script type="text/html" id="ChainTmpl">
<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading"><label><%=title%></label><%=L._BTNBACK_%></div>
    <div class="panel-body"><p><i><%=modinfo%></i></p></div>
    <table class="table table-bordered table-condensed">
      <%print('<tr class="info">',
      app.chain_th(),
      '</tr>', app.chain_body(chain)
      );%>
    </table>
    <div class="panel-footer"><div class="myright"><%=L._FOUND_%><%=chain.length%></div></div>
  </div>
</div>
</script>

<script type="text/html" id="ViewFoundTmpl">
<div class="col-md-10">
  <div class="panel panel-default">
    <div class="panel-heading"><label><%=doctitle%></label><%=L._BTNBACK_%></div>
    <table class="table table-bordered table-supercondensed">
      <%print('<tr class="info">', app.chain_th(), '</tr>');
      chains.forEach(function(chain) {
        var ci = chain.chain;
        print('<tr class="chain-title"><td colspan="7">', `${app.A}chain/${ci[0].plintId}/${ci[0].pairId}">${chain.title}</a>`, '</td></tr>', app.chain_body(ci));
      });%>
    </table>
  </div>
</div>
</script>

<script type="text/html" id="RestoreTmpl">
  <div class="container cont-mid">
    <div class="panel panel-warning">
      <div class="panel-heading"><%=title%><%=L._BTNBACK_%></div>
      <div class="panel-body">
        <form class="form-horizontal" name="upload"><input type="file" id="upload" name="upload" required><br><%=L._BTNOKCNSL_%></form>
      </div>
      <div class="panel-footer"><div class="myright">
        <i><output id="prop"><%=hint%></output></i>
      </div></div>
    </div>
  </div>
</script>

<script type="text/html" id="EditCrossTmpl">
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading"><%=doctitle%><%=L._BTNBACK_%></div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-md-3 control-label"><%=L._TITLE_%></label>
          <div class="col-md-8"><input type="text" name="title" class="form-control" value="<%=title%>" required></div>
        </div>
        <%if (!obj.new) {%>
        <div class="form-group">
          <div class="checkbox col-md-offset-3 col-md-8"><label>
            <input name="delete" class="delete" type="checkbox"><%=L._DEL_%> <%=L._CROSS_%>
          </label></div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"><%=L._VERT_T_%></label>
          <div class="col-md-8"><input type="text" name="verticaltitle" class="form-control"></div>
        </div>
        <%}%>
        <%=L._BTNOKCNSL_%>
      </form>
    </div>
  </div>
</div>
</script>

<script type="text/html" id="EditVerticalTmpl">
<div class="col-md-5" style="z-index:10;">
  <div class="panel panel-primary">
    <div class="panel-heading"><%print(app.A_Vertical(obj,"color-root"));%><%=L._BTNBACK_%></div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-md-3 control-label"><%=L._TITLE_%></label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="text" name="title" class="form-control" value="<%=vertical%>" required>
              <span class="input-group-btn"><button id="helpbtn" class="btn btn-default" type="button" title="<%=L._HELP_%>">?</button></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox col-md-offset-3 col-md-8"><label>
            <input name="delete" class="delete" type="checkbox"><%=L._DEL_%><%=L._VERTICAL_%>
          </label></div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"><%=L._PLINT_T_%></label>
          <div class="col-md-3"><input name="plintmask" type="text" class="form-control" value="<%=s_plint.mask%>"></div>
          <label class="col-md-2 control-label"><%=L._COUNT_%></label>
          <div id="plintCount" class="col-md-3"><input type="number" min="0" max="100" name="count" class="form-control" value="<%=s_plint.count%>"></div>
        </div>
        <div class="form-group">
          <div class="checkbox col-md-offset-3 col-md-8">
            <label><input name="start1" type="checkbox" checked><%=L._START_1_%></label>
            <label class="right"><input name="start1all" type="checkbox"><%=L._FOR_ALL_%></label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"><%=L._PAIR_T_%></label>
          <div class="col-md-8">
            <div class="input-group">
              <input type="text" name="pairmask" class="form-control" value="<%=pairmask%>" title="%A - actual\n%E - from editor\n%number - plint count\n%Pnumber - pair count\n%Dnumber - direct pair count">
              <span class="input-group-addon"><input id="editor" type="checkbox" title="<%=L._EDITOR_%>"></span>
            </div>
          </div>
        </div>
        <textarea class="form-control pair-data" wrap="off" rows="10" name="pairtitles" style="display:none;"></textarea>
        <div class="form-group">
          <label class="col-md-3 control-label"><%=L._COMMON_DATA_%></label>
          <div class="col-md-8"><input type="text" name="cdmask" class="form-control" value="<%=cdmask%>" title="%A - actual\n%C - cross\n%V - vertical\n%M - plint\n%number - count"></div>
        </div>
        <div class="form-group">
          <div class="checkbox col-md-offset-3 col-md-8">
            <label><input name="rcdreplace" type="checkbox" checked><%=L._REM_CD_%></label>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox col-md-offset-3 col-md-3"><label><input id="setCable" type="checkbox"><%=L._SET_CABLE_%></label></div>
          <div class="col-md-5"><select id="cables" class="form-control">
            <option value="">No cable</option>
            <%obj.cables.forEach(function(cable) {
              print(`<option value="${cable[0]}" style="background:${app.CABLE_CLRS[cable[3]]}">${cable[1]+(cable[2]?("&nbsp;("+cable[2]+")"):"")}</option>`);
            });%>
          </select></div>
        </div>
        <table id="chaintable" class="table table-condensed">
          <thead>
            <tr class="active">
            <th><%=tbheaders[0]%></th>
            <th><%=tbheaders[1]%></th>
            <th><%=tbheaders[2]%></th>
            </tr>
          </thead>
          <tbody id="chainbody"></tbody>
        </table>
        <%=L._BTNOKCNSL_%>
      </form>
    </div>
  </div>
</div>
<div class="col-md-7">
  <div class="panel panel-default">
    <div class="panel-heading"><%=L._VERTICAL_%>: <b><span id="verttitle"><%=vertical.title%></span></b>
      <div class="radio inmenu right">
        <label class="inmenu"><input type="radio" name="view" value="comdata" checked><%=L._COMMON_DATA_%></label>
        <label><input type="radio" name="view" value="pairs"><%=L._PAIR_T_%></label>
      </div>
    </div>
    <div class="table-container">
      <table class="table table-bordered table-condensed">
        <thead><tr id="watchhead" class="info"></tr>
        <tbody id="watchbody"></tbody>
      </table>
    </div>
  </div>
</div>
</script>

<script type="text/html" id="CDwatchTmpl">
<%rows.forEach(function(row){%>
  <tr>
    <td class="<%=row.class%>" title="<%=row.hint%>"><sup><%=row.start1%></sup><%=row.title%></td><td><%=row.chr%></td>
    <td><%=_mypre.format(row.cd.escapeHTML())%></td>
    <td><%=_mypre.format(row.rcd.escapeHTML())%></td>
  </tr>
<%});%>
</script>

<script type="text/html" id="PTwatchTmpl">
<%rows.forEach(function(row){%>
  <tr>
    <td class="<%=row.class%>" title="<%=row.hint%>"><sup><%=row.start1%></sup><%=row.title%></td><td><%=row.chr%></td>
    <%row.pairs.forEach(function(pair){print(`<td>${_mypre.format(pair.escapeHTML())}</td>`);});%>
  </tr>
<%});%>
</script>

<script type="text/html" id="EditPlintTmpl">
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading"><%print(app.A_Vertical(obj,"color-root"));%><%=L._BTNBACK_%></div>
    <div class="panel-body">
      <p><i><%=modinfo%></i></p>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-md-3 control-label"><%=L._TITLE_%></label>
          <div class="col-md-8"><input type="text" name="title" class="form-control" value="<%=title%>" required></div>
        </div>
        <div class="form-group">
          <div class="checkbox col-md-offset-3 col-md-8"><label>
            <input name="delete" class="delete" type="checkbox"><%=L._DEL_%> <%=L._PLINT_%>
          </label></div>
        </div>
        <div class="form-group">
          <div class="checkbox col-md-offset-3 col-md-8">
            <label><input name="start1" type="checkbox" <%=start1%>><%=L._START_1_%></label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"><%=L._COMMON_DATA_%></label>
          <div class="col-md-8"><input type="text" name="comdata" class="form-control" value="<%=comdata%>"></div>
        </div>
        <div class="form-group">
        <div class="radio inmenu right">
          <label class="inmenu"><input type="radio" name="view" value="titles" checked><%=L._PAIR_T_%></label>
          <label><input type="radio" name="view" value="details"><%=L._DETAILS_%></label>
        </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"><%=L._PAIR_T_%></label>
          <div class="col-md-8">
            <div class="pair-ol"><ol start="0"><%for(var i=0; i<10; i++) print("<li></li>");%></ol></div>
            <div class="pair-li">
            <textarea class="form-control pair-data" wrap="off" rows="10" name="pairtitles" style="resize:none" spellcheck="false"></textarea>
            <textarea class="form-control pair-data" wrap="off" rows="10" name="pairdetails" style="display:none;resize:none" spellcheck="false"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox col-md-offset-3 col-md-5"><label><input name="merge" type="checkbox"><%=L._MERGE_%></label></div>
          <div class="col-md-3"><input type="text" name="mergechar" class="form-control" placeholder="Enter char"></div>
        </div>
        <%=L._BTNOKCNSL_%>
      </form>
    </div>
  </div>
</div>
</script>

<script type="text/html" id="EditPairTmpl">
<div class="col-md-<%print(obj.chain_mode?10:6);%>">
  <div class="panel panel-primary">
    <div class="panel-heading"><%print(app.A_Vertical(obj,"color-root"));%><%=L._BTNBACK_%></div>
    <div class="panel-body">
      <p><i><%=modinfo%></i></p>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-md-2 control-label"><%=L._TITLE_%></label>
          <div class="col-md-8"><input type="text" name="title" class="form-control" value="<%=title%>"></div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label"><%=L._DETAILS_%></label>
          <div class="col-md-8"><input type="text" name="details" class="form-control" value="<%=details%>"></div>
        </div>
        <%if (obj.chain_mode) {%>
          <button id="addLink" type="button" class="btn btn-sm btn-success pull-right" title="<%=L._ADD_LINK_%>">+</button><br><br>
          <table id="chaintable" class="table table-condensed">
            <thead>
              <tr class="active">
                <th width="4%">Edit</th>
                <th width="13%"><%=tbheaders[0]%></th>
                <th width="10%"><%=tbheaders[1]%></th>
                <th width="10%"><%=tbheaders[2]%></th>
                <th width="8%"><%=tbheaders[3]%></th>
                <th><%=L._TITLE_%></th>
                <th width="19%"><%=L._COMMON_DATA_%></th>
                <th width="3%"><%=L.i_par%></th>
                <th width="5%"><%=L._COLOR_%></th></th>
              </tr>
            </thead>
            <tbody id="chainbody"></tbody>
          </table>
        <%}%>
        <%=L._BTNOKCNSL_%>
      </form>
    </div>
  </div>
</div>
</script>

<script type="text/html" id="ChainWatchTmpl">
<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">Watch</div>
    <table class="table table-bordered" id="watchtable">
      <tr class="info"><td>Link</td><td>Cross</td><td>Vertical</td><td>Plint</td><td>Pair</td></tr>
    </table>
  </div>
</div>
</script>

<script type="text/html" id="EditFoundTmpl">
<div class="col-md-10">
  <div class="panel panel-primary">
    <div class="panel-heading"><%=doctitle%><%=L._BTNBACK_%></div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-md-2 control-label"><%=L._FIND_%></label>
          <div class="col-md-8"><input type="text" name="find" class="form-control" value="<%=search%>"></div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label"><%=L._REPLACE_%></label>
          <div class="col-md-8"><input type="text" name="replace" class="form-control" value="<%=search%>"></div>
        </div>
        <div class="form-group">
          <div class="checkbox col-md-offset-2 col-md-8">
            <label><input name="follow" type="checkbox" checked="checked"><%=L._FOLLOW_%></label><%=L._BTNOKCNSL_%>
          </div>
        </div>
      </form>
    </div>
    <div class="foundtable-container">
    <table class="table table-bordered table-condensed" id="foundtable">
      <tr class="info">
      <td width="10%"><%=tbheaders[0]%></td>
      <td width="8%"><%=tbheaders[1]%></td>
      <td width="8%"><%=tbheaders[2]%></td>
      <td width="10%"><%=tbheaders[3]%></td>
      <td><%=L._TITLE_%></td>
      <td width="20%"><%=L._DETAILS_%></td>
      <td width="20%"><%=L._COMMON_DATA_%></td>
      </tr>
    </table>
    </div>
    <div class="panel-footer"><div class="myright"><%=L._FOUND_%><%=count%></div></div>
  </div>
</div>
</script>

<script type="text/html" id="EditCablesTmpl">
<div class="col-md-8">
  <div class="panel panel-primary">
    <div class="panel-heading"><label><%=L._CABLES_%></label><%=L._BTNBACK_%></div>
    <div class="panel-body">
      <form class="form-horizontal">
        <button id="addCable" type="button" class="btn btn-sm btn-success pull-right" title="<%=L._ADD_CABLE_%>">+</button><br><br>
        <table id="cabletable" class="table table-condensed">
          <thead>
            <tr class="active">
              <th width="40%"><%=L._TITLE_%></th>
              <th width="40%"><%=L._DETAILS_%></th>
              <th width="10%"><%=L._COLOR_%></th>
              <th><%=L._DEL_%></th>
            </tr>
          </thead>
        <tbody id="cablebody"></tbody>
        </table>
        <%=L._BTNOKCNSL_%>
      </form>
    </div>
  </div>
</div>
</script>
